<h1>Estatisticas do {{info.EVENTO}} no dia {{info.DATA}}</h1>
 <br>

<table style="width:100%">
  <tr>
    <th>Station ID</th>
    <th>LAmax [dB]</th>
    <th>LAmin [dB]</th> 
    <th>LApeak [dB]</th>
    <th>LAeq [dB]</th>
  </tr>
  <tr>
    <td>STATION_1</td>
    <td>{{info.STATION_1_MAX}}</td>
    <td>{{info.STATION_1_MIN}}</td>
    <td>{{info.STATION_1_PEAK}}</td>
    <td>{{info.STATION_1_LAE}}</td>
  </tr>
  <tr>
      <td>STATION_2</td>
   <td>{{info.STATION_2_MAX}}</td>
    <td>{{info.STATION_2_MIN}}</td>
    <td>{{info.STATION_2_PEAK}}</td>
    <td>{{info.STATION_2_LAE}}</td>
  </tr>
</table>
<br>


